<div class="container mt-5 mb-5">

    <h1 class="text-center">About</h1>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, adipisci totam nulla, velit esse nesciunt corrupti enim unde aut alias vitae. Recusandae iure doloremque possimus quos corrupti pariatur, a in!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia sed cum eius facere. Accusantium hic vero ullam inventore maxime incidunt rerum fuga quae? Odit iste necessitatibus vitae beatae ipsum labore?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti rem, deleniti eligendi sit alias cum adipisci, ea ullam quidem soluta vel facere quibusdam nobis. Molestiae minima laudantium dicta ipsam voluptatum?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit quam, velit laudantium voluptas repellendus iste magnam eum quisquam doloribus aut reprehenderit adipisci exercitationem. Quasi quo ad magni odit dignissimos. Soluta?
        <br/>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque voluptatibus cum quod, provident deleniti ut debitis soluta corrupti quis facere placeat quo similique qui laborum, aspernatur totam eius ipsam at?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita architecto neque, dicta sit id sunt! Quisquam voluptas reiciendis autem modi animi perferendis dolor sit earum blanditiis facilis, est, vitae voluptatem.
        <br/>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus tenetur, facilis magni suscipit laborum labore similique sit error amet saepe nulla placeat enim veniam nemo voluptatem. Eveniet consequatur aut tenetur.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, nemo? Placeat laudantium molestias beatae. Quisquam a recusandae quidem nesciunt pariatur facere error ad, ipsam maxime voluptatum, laborum dolorum dolorem reiciendis!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis ducimus provident id atque magni, dolores consectetur voluptates, nam sapiente sunt minus officia distinctio debitis corrupti officiis aut odio iste dolorum.
        <br/>
    </p>


</div>